body {
  padding-bottom: 500px;
  background-color: rgb(9, 82, 57);
}
div {
  margin-bottom: 10px;
}

div input,
div label {
  display: block;
}

.radio label,
.radio input,
.radio span {
  display: inline-block;
}
